<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebLog Logger</title>
    <style>
        * {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h1>Submit A WebLog: <br><a href="/view">[View WebLog]</a></h1>
    <br>
    <br>
    <form method="get">
        <textarea name="log" id="" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>