<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebLog Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <span>View Mode:</span>
    <select name="viewmode" id="viewmode" onchange="switch_viewmode()">
        <option value="rawtext" selected>Raw - Text</option>
        <option value="rawjson">Raw - JSON</option>
        <option value="byip">Sorted - By IP</option>
        <option value="byid">Sorted - By Client ID</option>
        <option value="newest">Sorted - Newest</option>
        <option value="oldest">Sorted - Oldest</option>
        
      </select>
    <hr>
    <br>
    <pre id="rawview">{{ html }}</pre>
    <div id="sortedview"></div>
    <script>
        var session_key = "{{ key }}";
        alert(session_key);
        function switch_viewmode(){
            switch(document.getElementById("viewmode").value){
                case "rawtext":
                    
            }
        }
    </script>
</body>
</html>