<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebLog Viewer</title>
    <style>
        * {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h1>Login:</h1>
    <br>
    <br>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>